extends base.pug

block content
  .container
    .row.min-vh-100.align-items-center.justify-content-center
      .col-md-8.col-lg-6.text-center
        .hero-section
          h1.display-1.fw-bold.mb-4 basix
          p.lead.text-muted.mb-4 A boilerplate for building simple SSR web apps fast.
          .tech-stack.mb-5.link-underline-opacity-0
            a.badge.text-decoration-none.bg-primary.me-2.mb-2.decoration-none(href="https://exressjs.com") Express
            a.badge.text-decoration-none.bg-success.me-2.mb-2(href="https://pugjs.org") Pug
            a.badge.text-decoration-none.bg-info.me-2.mb-2(href="https://htmx.org") HTMX
            a.badge.text-decoration-none.bg-warning.text-dark.me-2.mb-2(href="https://getbootstrap.com") Bootstrap
            a.badge.text-decoration-none.bg-secondary.me-2.mb-2(href="https://sqlite.org") SQLite
          .d-grid.gap-2.d-sm-flex.justify-content-sm-center
            a.btn.btn-primary.btn-lg.px-4.gap-3(href="/health") Check Health
            a.btn.btn-outline-secondary.btn-lg.px-4(href="https://github.com" target="_blank") View on GitHub
